*{
  margin: 0;
  padding: 0;
}
.main{
  background-image:url("")
}
#navv{
  color: rgb(150, 63, 9);
}

#choclu{
  background-color: rgb(160, 78, 19);
}
#nav{
  color: rgb(158, 61, 0);
}
.cont{
  margin: 0;
  padding: 0;
}
#background{
  background-image:url("cake img/black3.jpg")
}
#firstpar{
  color: black;

}

#footer{
  background-image: url("cake img/blog-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#footer-txt{
  color:#fff;
  font-size: 18px;
  font-style: italic;
}
#footer-txt:hover{

  color:gray
  

}
#lctn{
  background-color: rgb(0, 0, 0);
}
#loca{
  font-size: 30px;
  
}
#slide1{
  border-radius: 135px;
    margin-top: 55px;
}
#row{
  border-radius: 66px;

}
#row:hover{
  padding:4px;
  transition: 0.5s;
  background-color:orangered;
}

#row1:hover{
  padding:6px;
  transition: 0.5s;
  background-color:orangered;
  overflow: hidden;
}
#logo:hover{
  color:rgb(255, 0, 0)

}
#logo{
  color: white;
}
#logo2:hover{
  color: rgb(255, 0, 0);
  transition: 0.3s;
}
#ordernav{padding-top: 68px
  
}

#ordernav:hover{
  color: white;

}
#homenav:hover{
  color:#fff;
}